$spacing: 60px;
$orange: #f47631;
$yellow: #fbd350;
$green: #4e9048;
$pink: #f58d91;
$blue: #4faab7;
$bg: #fff7e3;

.hero {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .text {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
        padding: $spacing;
        text-align: center;
        h2 {
            width: calc((100vw / 8) * 3);
            font-size: 7em;
            line-height: 1.15;
            font-weight: 600;
            margin: 0 0 $spacing 0;
        }
        p {
            max-width: 600px;
            font-size: 1em;
            line-height: 1.618;
        }
    }
    .img {
        height: 100vh;
        width: 50%;
        background: url(../img/march.jpg);
        background-size: cover;
        background-position: center center;
        z-index: 2;
        background-color: $bg;
        background-blend-mode: multiply;
    }
}

@media screen and (max-width: 1550px) {
    .hero {
        .text {
            h2 {
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
    h2 {
        font-size: 4em !important;
    }
    h4 {
        font-size: 3em !important;
    }
    h3 {
        font-size: 5em !important;
    }
}
@media screen and (max-width: 1300px) {
    h2 {
        font-size: 3em !important;
    }
    h4 {
        font-size: 3em !important;
    }
    h3 {
        font-size: 4em !important;
    }
    #schedule {
        padding: 0px 12.5vw !important;
    }
}
@media screen and (max-width: 1150px) {
    .hero {
        flex-direction: column;
        .text {
            width: 100%;
            padding: 30px;
            height: auto;
            h2 {
                width: 100%;
                margin-top: 150px;
            }
            p {
                margin-bottom: $spacing;
            }
            a {
                background: $orange;
            }
        }
        .img {
            height: 300px;
            width: 100%;
        }
    }
}