* {
  margin: 0;
  padding: 0;
  font-family: MessinaSans, serif;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.button {
  color: #8EAAD0;
  background: black;
  padding: 15px 30px;
  font-size: 1em;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.button:hover {
  background: #2b4c7d;
}

#cursor {
  height: 50vw;
  width: 50vw;
  margin: -25vw -25vw;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.08, 0.35, 0.16, 1.02);
          transition-timing-function: cubic-bezier(0.08, 0.35, 0.16, 1.02);
  pointer-events: none;
  z-index: 101;
}

#header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

#header .logo {
  height: 40px;
  padding: 40px;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

#header .logo img {
  height: 40px;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 18px;
  padding: 51px;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

#header ul a {
  font-size: 1em;
  color: black;
  line-height: 1;
  margin: none;
}

.hero {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12.5vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#6D819B), to(#89a4c9));
  background: linear-gradient(to right, #6D819B, #89a4c9);
}

.hero .text h3, .hero .text h2 {
  width: calc((100vw / 8) * 3);
}

.hero .text h3 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 40px;
}

.hero .text h2 {
  font-size: 5em;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 40px;
}

.hero .img {
  height: 100vh;
  width: 50%;
  background: -webkit-gradient(linear, left bottom, right top, from(#f5c9d2), to(#d4999e));
  background: linear-gradient(to top right, #f5c9d2, #d4999e);
}

.hr {
  width: 60px;
  height: 2px;
  background: #89a4c9;
  margin: 20px 0;
}

#about {
  width: 100%;
  padding: 100px 12.5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .img {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, right top, from(#f5c9d2), to(#d4999e));
  background: linear-gradient(to top right, #f5c9d2, #d4999e);
  margin-right: 12.5vw;
}

#about .text {
  width: 37.5vw;
}

#about .text h3 {
  font-size: 3em;
  line-height: 1;
}

#about .text p {
  font-size: 1em;
  line-height: 1.618;
}

#schedule {
  width: 100%;
  padding: 100px 12.5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d2ddec;
}

#schedule .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

#schedule .text h3 {
  font-size: 6em;
  line-height: 1;
  text-align: center;
}

#schedule .text p {
  font-size: 1em;
  line-height: 1.618;
  text-align: center;
  margin-bottom: 40px;
}

#schedule .text a {
  color: white;
}
/*# sourceMappingURL=styles.css.map */