* {
    margin: 0;
    padding: 0;
    font-family: MessinaSans, serif;
    text-decoration: none;
}
html {
    overflow-x: hidden;
    font-size: 18px;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.button {
    color: #8EAAD0;
    background: black;
    padding: 15px 30px;
    font-size: 1em;
    transition-duration: 400ms;
    &:hover {
        background: #2b4c7d;
    }
}
#cursor {
    height: 50vw;
    width: 50vw;
    margin: -25vw -25vw;
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.08, 0.35, 0.16, 1.02);
    pointer-events: none;
    z-index: 101;
}
#header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    transition-duration: 400ms;
    .logo {
        height: 40px;
        padding: 40px;
        transition-duration: 400ms;
        img {
            height: 40px;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        height: 18px;
        padding: 51px;
        transition-duration: 400ms;
        a {
            font-size: 1em;
            color: black;
            line-height: 1;
            margin: none;
            
            &:hover {
            }
        }
    }
}
.hero {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
        padding-left: 12.5vw;
        height: 100vh;
        background: linear-gradient(to right, #6D819B, #89a4c9);
        h3, h2 {
            width: calc((100vw / 8) * 3);
        }
        h3 {
            font-size: 2em;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 40px;
        }
        h2 {
            font-size: 5em;
            line-height: 1;
            font-weight: 600;
            margin-bottom: 40px;
        }
    }
    .img {
        height: 100vh;
        width: 50%;
        background: linear-gradient(to top right, #f5c9d2, #d4999e);
    }
}
.hr {
    width: 60px;
    height: 2px;
    background: #89a4c9;
    margin: 20px 0;
}
#about {
    width: 100%;
    padding: 100px 12.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .img {
        height: 25vw;
        width: 25vw;
        border-radius: 50%;
        background: linear-gradient(to top right, #f5c9d2, #d4999e);
        margin-right: 12.5vw;
    }
    .text {
        width: 37.5vw;
        h3 {
            font-size: 3em;
            line-height: 1;
        }
        p {
            font-size: 1em;
            line-height: 1.618;
        }
    }
}
#schedule {
    width: 100%;
    padding: 100px 12.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d2ddec;
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        h3 {
            font-size: 6em;
            line-height: 1;
            text-align: center;
        }
        p {
            font-size: 1em;
            line-height: 1.618;
            text-align: center;
            margin-bottom: 40px;
        }
        a {
            color: white;
        }
    }
}