* {
  margin: 0;
  padding: 0;
  font-family: MessinaSans, serif;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;
  background: #fff7e3;
}

body {
  overflow-x: hidden;
}

.button {
  color: black;
  padding: 17px 40px;
  font-size: 1em;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

#cursor {
  height: 50vw;
  width: 50vw;
  margin: -25vw -25vw;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.08, 0.35, 0.16, 1.02);
          transition-timing-function: cubic-bezier(0.08, 0.35, 0.16, 1.02);
  pointer-events: none;
  z-index: 101;
}

#header {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 120px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .logo {
  height: 40px;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

#header .logo img {
  height: 40px;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

#header ul a {
  font-size: 1em;
  color: black;
  line-height: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding-bottom: 2px;
}

#header ul a:hover {
  border-bottom: 2px solid #000;
}

#header ul a:last-child {
  margin-left: 60px;
}

.hr {
  width: 60px;
  height: 2px;
  background: #f47631;
  margin: 20px 0;
  padding: 0;
}

footer {
  width: 100vw;
  background: black;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p, footer a {
  color: #fff7e3;
}

footer a {
  text-decoration: underline;
}

#top {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 1;
  color: black;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  opacity: 0;
}

#top:hover {
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 1150px) {
  #header {
    width: 100%;
    height: 100px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    width: 100vw;
    background: black;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer p {
    line-height: 1.5;
  }
}

@media screen and (max-width: 500px) {
  #header .logo {
    height: 30px;
  }
  #header .logo img {
    height: 30px;
  }
  #header ul a {
    font-size: .8em;
  }
  #header ul a:last-child {
    margin-left: 30px;
  }
  #top {
    font-size: .8em;
  }
}
/*# sourceMappingURL=styles.css.map */