$spacing: 60px;
$orange: #f47631;
$yellow: #fbd350;
$green: #4e9048;
$pink: #f58d91;
$blue: #4faab7;
$bg: #fff7e3;
* {
    margin: 0;
    padding: 0;
    font-family: MessinaSans, serif;
    text-decoration: none;
}
html {
    overflow-x: hidden;
    font-size: 18px;
    scroll-behavior: smooth;
    background: $bg;
}
body {
    overflow-x: hidden;
}
.button {
    color: black;
    padding: 17px 40px;
    font-size: 1em;
    transition-duration: 400ms;
}
#cursor {
    height: 50vw;
    width: 50vw;
    margin: -25vw -25vw;
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.08, 0.35, 0.16, 1.02);
    pointer-events: none;
    z-index: 101;
}
#header {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 120px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    transition-duration: 400ms;
    padding: 0 $spacing;
    box-sizing: border-box;
    .logo {
        height: 40px;
        transition-duration: 400ms;
        img {
            height: 40px;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 18px;
        transition-duration: 400ms;
        a {
            font-size: 1em;
            color: black;
            line-height: 1;
            transition-duration: 300ms;
            border-bottom: 2px solid rgba(0,0,0,0);
            padding-bottom: 2px;
            &:hover {
                border-bottom: 2px solid #000;
            }
            &:last-child {
                margin-left: $spacing;
            }
        }
    }
}
.hr {
    width: $spacing;
    height: 2px;
    background: $orange;
    margin: 20px 0;
    padding: 0;
}
footer {
    width: 100vw;
    background: black;
    height: 100px;
    box-sizing: border-box;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p, a {
        color: $bg;
    }
    a {
        text-decoration: underline;
    }
}
#top {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    z-index: 1;
    color: black;
    transition-duration: 300ms;
    border-bottom: 2px solid rgba(0,0,0,0);
    opacity: 0;
    &:hover {
        border-bottom: 2px solid #000;
    }
}

@media screen and (max-width: 1150px) {
    #header {
        width: 100%;
        height: 100px;
        padding: 0 30px;
    }
}

@media screen and (max-width: 800px) {
    footer {
        width: 100vw;
        background: black;
        height: auto;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        p {
            line-height: 1.5;
        }
    }
}
@media screen and (max-width: 500px) {
    #header {
        .logo {
            height: 30px;
            img {
                height: 30px;
            }
        }
        ul {
            a {
                font-size: .8em;
                &:last-child {
                    margin-left: 30px;
                }
            }
        }
    }
    #top {
        font-size: .8em;
    }
}